
   <div id="logo" class="CYBELE-logo" style="text-align:left" >
      &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<a href="/" target="_blank"><img src=https://box.psnc.pl/f/89589962a4/?raw=1  height="100"/></a>
   <br>
   </div>
   <div id="intro" class="intro-title" style="text-align:center" >
       <a href="https://metaphactory.foodie-cloud.org" target="_blank"><img src=http://dss.foodie-cloud.org/images/foodie-banner.jpg /></a>
  	<h2>CYBELE dataset metadata form</h2>
  </div>
  <div style="text-align:center; font-size:14px;">
    This form allows you to introduce metadata about relevant datasets in CYBELE project in compliance with <a href="http://sdi4apps.eu/open_land_use_sk/">CYBELE data model</a> 
  </div>
  <br>
  <br>
  <mp-overlay-dialog title="My Dialog">
  <mp-overlay-dialog-trigger><a>Show in Dialog</a></mp-overlay-dialog-trigger>
  <mp-overlay-dialog-content>
      <div style="height: 100px;">
      hellooo...
    <script>
      function initMap() {
        var map = new google.maps.Map(document.getElementById('map'), {
          center: {lat: -34.397, lng: 150.644},
          zoom: 8
        });

        var drawingManager = new google.maps.drawing.DrawingManager({
          drawingMode: google.maps.drawing.OverlayType.MARKER,
          drawingControl: true,
          drawingControlOptions: {
            position: google.maps.ControlPosition.TOP_CENTER,
            drawingModes: ['marker', 'circle', 'polygon', 'polyline', 'rectangle']
          },
          markerOptions: {icon: 'https://developers.google.com/maps/documentation/javascript/examples/full/images/beachflag.png'},
          circleOptions: {
            fillColor: '#ffff00',
            fillOpacity: 1,
            strokeWeight: 5,
            clickable: false,
            editable: true,
            zIndex: 1
          }
        });
        drawingManager.setMap(map);
      }
    </script>
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAMof7dhpeaC4EeFPy3PjhpGrDjrzv-yzc&libraries=drawing&callback=initMap"
         async defer></script>
        </div>
  </mp-overlay-dialog-content>
</mp-overlay-dialog>

  


  