
   <div id="logo" class="CYBELE-logo" style="text-align:left" >
      &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<a href="/" target="_blank"><img src=https://box.psnc.pl/f/89589962a4/?raw=1  height="100"/></a>
   <br>
   </div>
   <div id="intro" class="intro-title" style="text-align:center" >
       <a href="https://metaphactory.foodie-cloud.org" target="_blank"><img src=http://dss.foodie-cloud.org/images/foodie-banner.jpg /></a>
  	<h2>CYBELE dataset metadata form</h2>
  </div>
  <div style="text-align:center; font-size:14px;">
    This form allows you to introduce metadata about relevant datasets in CYBELE project in compliance with <a href="http://sdi4apps.eu/open_land_use_sk/">CYBELE data model</a> 
  </div>
  <br>
  <br>
  

<semantic-form new-subject-template='https://w3id.org/cybele/dataset/id/{{UUID}}'
        post-action='redirect'
        browser-persistence=true
        persistence='sparql'
        form-id='example-1'
        fields='[
          {
            "id": "type",
            "label": "Type",
            "description": "The type of the created instance",
            "xsdDatatype": "xsd:anyURI",
            "selectPattern": "SELECT $value FROM <https://w3id.org/cybele/datasets/> WHERE { $subject a $value }",
            "insertPattern": "INSERT { GRAPH <https://w3id.org/cybele/datasets/> { $subject a $value } } WHERE {}",
            "deletePattern": "DELETE { GRAPH <https://w3id.org/cybele/datasets/> { $subject a $value } } WHERE {}"
          },
          {
            "id": "label",
            "label": "Label",
            "description": "The label of the dataset",
            "xsdDatatype": "xsd:string",
            "minOccurs": "1",
            "maxOccurs": "1",
            "selectPattern": "SELECT $value FROM <https://w3id.org/cybele/datasets/> WHERE { $subject rdfs:label $value }",
            "insertPattern": "INSERT { GRAPH <https://w3id.org/cybele/datasets/> { $subject rdfs:label $value } } WHERE {}",
            "deletePattern": "DELETE { GRAPH <https://w3id.org/cybele/datasets/> { $subject rdfs:label $value } } WHERE {}"
            },
            {
              "id": "language",
              "label": "Language",
              "description": "The language(s) used in the dataset",
              "xsdDatatype": "xsd:anyURI",
              "minOccurs": "1",
              "selectPattern": "
                PREFIX rdfs: <http://www.w3.org/2000/01/rdf-schema#>
                PREFIX lcc-lr: <https://www.omg.org/spec/LCC/Languages/LanguageRepresentation/>
                SELECT ?value ?label 
                FROM <https://w3id.org/cybele/datasets/>
                FROM <https://www.omg.org/spec/LCC/Languages/ISO639-1-LanguageCodes/> 
                WHERE {
                  $subject <http://purl.org/dc/terms/language> ?value .
                  ?value lcc-lr:denotes ?o .
                  ?o rdfs:label ?label
                }
              ",
              "insertPattern": "INSERT { GRAPH <https://w3id.org/cybele/datasets/> { $subject <http://purl.org/dc/terms/language> ?value } } WHERE {}",
              "deletePattern": "DELETE { GRAPH <https://w3id.org/cybele/datasets/> { $subject <http://purl.org/dc/terms/language> ?value } } WHERE {}",
              "autosuggestionPattern": "
                PREFIX rdfs: <http://www.w3.org/2000/01/rdf-schema#>
                PREFIX lcc-lr: <https://www.omg.org/spec/LCC/Languages/LanguageRepresentation/>
                SELECT $value $label 
                FROM <https://www.omg.org/spec/LCC/Languages/ISO639-1-LanguageCodes/> 
                WHERE {
                  ?value a lcc-lr:Alpha2Code ;
   											lcc-lr:denotes ?o .
  								?o rdfs:label ?label .
                  FILTER REGEX($label, \"?token\", \"i\")
                }
              "
            },
            {
              "id": "spatial",
              "label": "Spatial Coverage",
              "description": "The spatial coverage used in the dataset",
              "xsdDatatype": "xsd:anyURI",
              "minOccurs": "1",
              "selectPattern": "
                PREFIX rdfs: <http://www.w3.org/2000/01/rdf-schema#>
                PREFIX lcc-lr: <https://www.omg.org/spec/LCC/Languages/LanguageRepresentation/>
                SELECT ?value ?label 
                FROM <https://w3id.org/cybele/datasets/>
                FROM <https://www.omg.org/spec/LCC/Countries/UN-M49-RegionCodes/> 
								FROM <http://w3id.org/foodie/open/gadm36/level0#> 
								FROM <http://w3id.org/foodie/open/gadm36/level1#> 
								FROM <http://w3id.org/foodie/open/gadm36/level2#> 
								FROM <http://w3id.org/foodie/open/gadm36/level3#> 
								FROM <http://w3id.org/foodie/open/gadm36/level4#> 
								FROM <http://w3id.org/foodie/open/gadm36/level5#>
                WHERE {
                  $subject <http://purl.org/dc/terms/spatial> ?value .
                  ?value rdfs:label ?label
                }
              ",
              "insertPattern": "INSERT { GRAPH <https://w3id.org/cybele/datasets/> { $subject <http://purl.org/dc/terms/spatial> ?value } } WHERE {}",
              "deletePattern": "DELETE { GRAPH <https://w3id.org/cybele/datasets/> { $subject <http://purl.org/dc/terms/spatial> ?value } } WHERE {}",
              "autosuggestionPattern": "
							PREFIX rdfs: <http://www.w3.org/2000/01/rdf-schema#>
							PREFIX lcc-cr: <https://www.omg.org/spec/LCC/Countries/CountryRepresentation/>
							PREFIX geo: <http://www.geonames.org/ontology#>
							SELECT $value $label 
							FROM <https://www.omg.org/spec/LCC/Countries/UN-M49-RegionCodes/> 
							FROM <http://w3id.org/foodie/open/gadm36/level0#> 
							FROM <http://w3id.org/foodie/open/gadm36/level1#> 
							FROM <http://w3id.org/foodie/open/gadm36/level2#> 
							FROM <http://w3id.org/foodie/open/gadm36/level3#> 
							FROM <http://w3id.org/foodie/open/gadm36/level4#> 
							FROM <http://w3id.org/foodie/open/gadm36/level5#> 
							WHERE {
    								?value a ?type ;
  									rdfs:label ?label .
  					FILTER (?type in (lcc-cr:GeographicRegion, geo:Feature)) .
  					FILTER (<bif:contains>(?label,\"?token\")) .
						}
              "
            },    
            {
            "id": "issued",
            "label": "Issued",
            "description": "Release date of the dataset",
            "xsdDatatype": "xsd:dateTime",
            "minOccurs": "1",
            "maxOccurs": "1",
            "selectPattern": "SELECT $value FROM <https://w3id.org/cybele/datasets/> WHERE { $subject <http://purl.org/dc/terms/issued> $value }",
            "insertPattern": "INSERT { GRAPH <https://w3id.org/cybele/datasets/> { $subject <http://purl.org/dc/terms/issued> $value } } WHERE {}",
            "deletePattern": "DELETE { GRAPH <https://w3id.org/cybele/datasets/> { $subject <http://purl.org/dc/terms/issued> $value } } WHERE {}"   
            },
            {
            "id": "modified",
            "label": "Modified",
            "description": "Revision or update date of the dataset",
            "xsdDatatype": "xsd:dateTime",
            "minOccurs": "1",
            "maxOccurs": "1",
            "selectPattern": "SELECT $value FROM <https://w3id.org/cybele/datasets/> WHERE { $subject <http://purl.org/dc/terms/modified> $value }",
            "insertPattern": "INSERT { GRAPH <https://w3id.org/cybele/datasets/> { $subject <http://purl.org/dc/terms/modified> $value } } WHERE {}",
            "deletePattern": "DELETE { GRAPH <https://w3id.org/cybele/datasets/> { $subject <http://purl.org/dc/terms/modified> $value } } WHERE {}"
            },
            {
            "id": "accrualPeriodicity",
            "label": "Accrual Periodicity",
            "description": "Update frequency for the dataset",
            "xsdDatatype": "xsd:anyURI",
            "minOccurs": "1",
            "maxOccurs": "1",
            "valueSetPattern": "
              SELECT $value $label WHERE {
                VALUES ($value $label) {
                  (<http://purl.org/cld/freq/triennial> \"Triennial (every three years)\")
                  (<http://purl.org/cld/freq/biennial> \"Biennial (every two years)\")
                  (<http://purl.org/cld/freq/annual> \"Annual (once a yer)\")
                  (<http://purl.org/cld/freq/semiannual> \"Semiannual (twice a yerar)\")
                  (<http://purl.org/cld/freq/threeTimesAYear> \"Three times a year\")
                  (<http://purl.org/cld/freq/quarterly> \"Quarterly (every three months)\")
                  (<http://purl.org/cld/freq/bimonthly> \"Bimonthly (every two months)\")
                  (<http://purl.org/cld/freq/monthly> \"Monthly (once a month)\")
                  (<http://purl.org/cld/freq/semimonthly> \"Semimonthly (twice a month)\")
                  (<http://purl.org/cld/freq/biweekly> \"Biweekly (every two weeks)\")
                  (<http://purl.org/cld/freq/threeTimesAMonth> \"Three times a month\")
                  (<http://purl.org/cld/freq/weekly> \"Weekly (once a week)\")
                  (<http://purl.org/cld/freq/semiweekly> \"Semiweekly (twice a week)\")
                  (<http://purl.org/cld/freq/threeTimesAWeek> \"Three times a week\")
                  (<http://purl.org/cld/freq/daily> \"Daily (once a day)\")
                  (<http://purl.org/cld/freq/continuous> \"Continuous (without interruption)\")
                  (<http://purl.org/cld/freq/completelyIrregular> \"Irregular (at uneven intervals)\")

                }
              }
            ",
            "selectPattern": "SELECT $value FROM <https://w3id.org/cybele/datasets/> WHERE { $subject <http://purl.org/dc/terms/accrualPeriodicity> $value }",
            "insertPattern": "INSERT { GRAPH <https://w3id.org/cybele/datasets/> { $subject <http://purl.org/dc/terms/accrualPeriodicity> $value } } WHERE {}",
            "deletePattern": "DELETE { GRAPH <https://w3id.org/cybele/datasets/> { $subject <http://purl.org/dc/terms/accrualPeriodicity> $value } } WHERE {}"
            },
            {
            "id": "temporal",
            "label": "Temporal coverage",
            "description": "Temporal coverage of dataset", 
            "xsdDatatype": "xsd:anyURI",
            "minOccurs": "0",
            "maxOccurs": "1",
            "selectPattern": "SELECT ?value FROM <https://w3id.org/cybele/datasets/> WHERE { $subject <http://purl.org/dc/terms/temporal> ?value }",
            "insertPattern": "INSERT { GRAPH <https://w3id.org/cybele/datasets/> { $subject <http://purl.org/dc/terms/temporal> ?value }}  WHERE {}",
            "deletePattern": "DELETE { GRAPH <https://w3id.org/cybele/datasets/> { $subject <http://purl.org/dc/terms/temporal> ?value }}  WHERE {}"
            },
            
            {
            "id": "conformsTo",
            "label": "Conforms To (URL of the standard)",
            "description": "An established standard to which the dataset conforms",
            "xsdDatatype": "xsd:anyURI",
            "minOccurs": "0",
            "maxOccurs": "1",
            "selectPattern": "SELECT $value FROM <https://w3id.org/cybele/datasets/> WHERE { $subject <http://purl.org/dc/terms/conformsTo> $value }",
            "insertPattern": "INSERT { GRAPH <https://w3id.org/cybele/datasets/> { $subject <http://purl.org/dc/terms/conformsTo> $value } } WHERE {}",
            "deletePattern": "DELETE { GRAPH <https://w3id.org/cybele/datasets/> { $subject <http://purl.org/dc/terms/conformsTo> $value } } WHERE {}"
            }, 
            {
						"id": "landingPage",
            "label": "Landing page (URL to the landing page)",
            "description": "A Web page that can be navigated to in a Web browser to gain access to the catalog, a dataset, its distributions and/or additional information",
            "xsdDatatype": "xsd:anyURI",
            "minOccurs": "0",
            "maxOccurs": "1",
            "selectPattern": "SELECT $value FROM <https://w3id.org/cybele/datasets/> WHERE { $subject <http://www.w3.org/ns/dcat#landingPage> $value }",
            "insertPattern": "INSERT { GRAPH <https://w3id.org/cybele/datasets/> { $subject <http://www.w3.org/ns/dcat#landingPage> $value } } WHERE {}",
            "deletePattern": "DELETE { GRAPH <https://w3id.org/cybele/datasets/> { $subject <http://www.w3.org/ns/dcat#landingPage> $value } } WHERE {}"
            },     
            {
            "id": "temporalResolution",
            "label": "Temporal Resolution (Format: PnYnMnDTnHnMnS;n=value,Y=years,M=months,D=days,H=hours,S=seconds)",
            "description": "Minimum temporal separation of items in the dataset ",
            "xsdDatatype": "xsd:duration",
            "minOccurs": "0",
            "maxOccurs": "1",
            "selectPattern": "SELECT $value FROM <https://w3id.org/cybele/datasets/> WHERE { $subject <http://www.w3.org/ns/dcat#temporalResolution> $value }",
            "insertPattern": "INSERT { GRAPH <https://w3id.org/cybele/datasets/> { $subject <http://www.w3.org/ns/dcat#temporalResolution> $value } } WHERE {}",
            "deletePattern": "DELETE { GRAPH <https://w3id.org/cybele/datasets/> { $subject <http://www.w3.org/ns/dcat#temporalResolution> $value } } WHERE {}"
            }, 
    				{
            "id": "spatialResolutionInMeters",
            "label": "Spatial Resolution In Meters",
            "description": "Minimum spatial separation resolvable in a dataset, measured in meters",
            "xsdDatatype": "xsd:decimal",
            "minOccurs": "0",
            "maxOccurs": "1",
            "selectPattern": "SELECT $value FROM <https://w3id.org/cybele/datasets/> WHERE { $subject <http://www.w3.org/ns/dcat#spatialResolutionInMeters> $value }",
            "insertPattern": "INSERT { GRAPH <https://w3id.org/cybele/datasets/> { $subject <http://www.w3.org/ns/dcat#spatialResolutionInMeters> $value } } WHERE {}",
            "deletePattern": "DELETE { GRAPH <https://w3id.org/cybele/datasets/> { $subject <http://www.w3.org/ns/dcat#spatialResolutionInMeters> $value } } WHERE {}"
            },
            {
              "id": "publisher",
              "label": "Publisher",
              "description": "Publisher of the dataset ",
              "xsdDatatype": "xsd:anyURI",
              "minOccurs": "1",
              "selectPattern": "
                PREFIX rdfs: <http://www.w3.org/2000/01/rdf-schema#>
                SELECT ?value ?label 
                FROM <https://w3id.org/cybele/datasets/> 
                WHERE {
                  $subject <http://purl.org/dc/terms/publisher> ?value .
                  OPTIONAL { ?value <http://xmlns.com/foaf/0.1/name> ?label }
                }
              ",
              "insertPattern": "INSERT { GRAPH <https://w3id.org/cybele/datasets/> { $subject <http://purl.org/dc/terms/publisher> ?value } } WHERE {}",
              "deletePattern": "DELETE { GRAPH <https://w3id.org/cybele/datasets/> { $subject <http://purl.org/dc/terms/publisher> ?value } } WHERE {}",
              "autosuggestionPattern": "
                PREFIX rdfs: <http://www.w3.org/2000/01/rdf-schema#>
                PREFIX foaf: <http://xmlns.com/foaf/0.1/>
                SELECT $value $label 
                FROM <https://w3id.org/cybele/datasets/> 
                WHERE {
                  $value a foaf:Agent .
                  $value <http://xmlns.com/foaf/0.1/name> $label .
                  FILTER REGEX($label, \"?token\", \"i\")
                }
              "
            }
        ]'>
				 
        <bs-panel>
          <h4>Create new dataset metadata record for CYBELE</h4>
          <semantic-form-recover-notification></semantic-form-recover-notification>
          <semantic-form-text-input for='label'></semantic-form-text-input>
          <semantic-form-autocomplete-input for='language' placeholder='select language...'></semantic-form-autocomplete-input>
          <semantic-form-datetime-input for="issued"></semantic-form-datetime-input>
          <semantic-form-datetime-input for="modified"></semantic-form-datetime-input>          
          <semantic-form-select-input for='accrualPeriodicity'></semantic-form-select-input>
          
          <semantic-form-composite-input for="temporal" new-subject-template="https://w3id.org/cybele/temporal/id/{{UUID}}" 
            persistence='sparql'
            fields='[
            {
              "id": "startDate",
              "label": "Start Date",
              "xsdDatatype": "xsd:date",
              "minOccurs": "1",
              "maxOccurs": "1",
              "selectPattern": "SELECT ?value FROM <https://w3id.org/cybele/datasets/> WHERE { $subject <http://purl.org/dc/terms/temporal> ?value }",
              "insertPattern": "INSERT { GRAPH <https://w3id.org/cybele/datasets/> { $subject <http://purl.org/dc/terms/temporal> ?value }}  WHERE {}",
              "deletePattern": "DELETE { GRAPH <https://w3id.org/cybele/datasets/> { $subject <http://purl.org/dc/terms/temporal> ?value }}  WHERE {}"
            },
            {
              "id": "endDate",
              "label": "End Date",
              "xsdDatatype": "xsd:date",
              "minOccurs": "1",
              "maxOccurs": "1",
              "selectPattern": "SELECT ?value FROM <https://w3id.org/cybele/datasets/> WHERE { $subject <http://purl.org/dc/terms/temporal> ?value }",
              "insertPattern": "INSERT { GRAPH <https://w3id.org/cybele/datasets/> { $subject <http://purl.org/dc/terms/temporal> ?value }}  WHERE {}",
              "deletePattern": "DELETE { GRAPH <https://w3id.org/cybele/datasets/> { $subject <http://purl.org/dc/terms/temporal> ?value }}  WHERE {}"
            },
            {
                "id": "typeTemporal",
                "label": "Type",
                "xsdDatatype": "xsd:anyURI",
                "minOccurs": "1",
                "maxOccurs": "1",
                "selectPattern": "SELECT $value FROM <https://w3id.org/cybele/datasets/> WHERE { $subject a $value }",
                "insertPattern": "INSERT { GRAPH <https://w3id.org/cybele/datasets/> { $subject a $value } } WHERE {}",
                "deletePattern": "DELETE { GRAPH <https://w3id.org/cybele/datasets/> { $subject a $value } } WHERE {}"
              }
          ]'>
          <semantic-form-hidden-input for='typeTemporal' default-value='http://purl.org/dc/terms/PeriodOfTime'> </semantic-form-hidden-input>
         <semantic-form-datetime-input for="startDate"></semantic-form-datetime-input>          
            <semantic-form-datetime-input for="endDate"></semantic-form-datetime-input>            
         </semantic-form-composite-input> 
          
          <semantic-form-text-input for='temporalResolution'></semantic-form-text-input>
          
          <semantic-form-autocomplete-input for='spatial' placeholder='Search or create a spatial coverage...'>
            <semantic-form new-subject-template='https://w3id.org/cybele/spatial/geometry/{{{UUID}}}' 
                           persistence='sparql'
                           fields='[
              {
                "id": "spatial",
                "label": "Spatial Coverage",
                "xsdDatatype": "xsd:string",
                "range": "<http://www.opengis.net/ont/geosparql#asWKT>",                  
                "minOccurs": "1",
                "maxOccurs": "1",
                "selectPattern": "
                  PREFIX rdfs: <http://www.w3.org/2000/01/rdf-schema#>
                  SELECT ?value FROM <https://w3id.org/cybele/datasets/> WHERE { $subject <http://www.w3.org/ns/locn#geometry> ?value }
                ",
                "insertPattern": "
                  PREFIX rdfs: <http://www.w3.org/2000/01/rdf-schema#>
                  INSERT { GRAPH <https://w3id.org/cybele/datasets/> { $subject <http://www.w3.org/ns/locn#geometry> ?value} }  WHERE {}
                ",
                "deletePattern": "
                  PREFIX rdfs: <http://www.w3.org/2000/01/rdf-schema#>
                  DELETE { GRAPH <https://w3id.org/cybele/datasets/> { $subject <http://www.w3.org/ns/locn#geometry> ?value} } WHERE {}
                "
              },
              {
                "id": "typeS",
                "label": "Type",
                "xsdDatatype": "xsd:anyURI",
                "minOccurs": "1",
                "maxOccurs": "1",
                "selectPattern": "SELECT $value FROM <https://w3id.org/cybele/datasets/> WHERE { $subject a $value }",
                "insertPattern": "INSERT { GRAPH <https://w3id.org/cybele/datasets/> { $subject a $value } } WHERE {}",
                "deletePattern": "DELETE { GRAPH <https://w3id.org/cybele/datasets/> { $subject a $value } } WHERE {}"
              },
              {
                "id": "label",
                "label": "Label",
                "xsdDatatype": "xsd:string",
                "minOccurs": "1",
                "maxOccurs": "1",
                "selectPattern": "SELECT $value FROM <https://w3id.org/cybele/datasets/> WHERE { $subject rdfs:label $value }",
                "insertPattern": "INSERT { GRAPH <https://w3id.org/cybele/datasets/> { $subject rdfs:label $value } } WHERE {}",
                "deletePattern": "DELETE { GRAPH <https://w3id.org/cybele/datasets/> { $subject rdfs:label $value } } WHERE {}"
              }                                                                                                
              ]'>
              <semantic-form-hidden-input for='typeS' default-value='http://purl.org/dc/terms/Location'></semantic-form-hidden-input>
              <semantic-form-hidden-input for='label' default-value='{{{UUID}}}'></semantic-form-hidden-input>
              <semantic-form-text-input for='spatial'></semantic-form-text-input>
              
              <semantic-form-errors></semantic-form-errors>
              <button name='submit' class='btn btn-default'>Create Spatial</button>
              <button name='reset' class='btn btn-default'>Reset Spatial</button>
            </semantic-form>
          </semantic-form-autocomplete-input>
          
          <semantic-form-text-input for='spatialResolutionInMeters'></semantic-form-text-input>
          <semantic-form-text-input for='conformsTo'></semantic-form-text-input>
          <semantic-form-text-input for='landingPage'></semantic-form-text-input>
          <semantic-form-hidden-input for='type' default-value='http://www.w3.org/ns/dcat#Dataset'> </semantic-form-hidden-input>
          
          
          
          <semantic-form-autocomplete-input for='publisher' placeholder='Search or create a publisher...'>
            <semantic-form new-subject-template='https://w3id.org/cybele/agent/id/{{UUID}}' 
                           persistence='sparql'
                           fields='[
              {
                "id": "name",
                "label": "Name",
                "xsdDatatype": "xsd:string",
                "minOccurs": "1",
                "maxOccurs": "1",
                "selectPattern": "
                  PREFIX rdfs: <http://www.w3.org/2000/01/rdf-schema#>
                  SELECT ?value FROM <https://w3id.org/cybele/datasets/> WHERE { $subject <http://xmlns.com/foaf/0.1/name> ?value }
                ",
                "insertPattern": "
                  PREFIX rdfs: <http://www.w3.org/2000/01/rdf-schema#>
                  INSERT { GRAPH <https://w3id.org/cybele/datasets/> { $subject <http://xmlns.com/foaf/0.1/name> ?value ; rdfs:label ?value } } WHERE {}
                ",
                "deletePattern": "
                  PREFIX rdfs: <http://www.w3.org/2000/01/rdf-schema#>
                  DELETE { GRAPH <https://w3id.org/cybele/datasets/> { $subject <http://xmlns.com/foaf/0.1/name> ?value ; rdfs:label ?value } } WHERE {}
                "
              },
              {
                "id": "typeP",
                "label": "Type",
                "xsdDatatype": "xsd:anyURI",
                "minOccurs": "1",
                "maxOccurs": "1",
                "selectPattern": "SELECT $value FROM <https://w3id.org/cybele/datasets/> WHERE { $subject a $value }",
                "insertPattern": "INSERT { GRAPH <https://w3id.org/cybele/datasets/> { $subject a $value } } WHERE {}",
                "deletePattern": "DELETE { GRAPH <https://w3id.org/cybele/datasets/> { $subject a $value } } WHERE {}"
              }
              ]'>
              <semantic-form-hidden-input for='typeP' default-value='http://xmlns.com/foaf/0.1/Agent'> </semantic-form-hidden-input>
              <semantic-form-text-input for='name'></semantic-form-text-input>
              <semantic-form-errors></semantic-form-errors>
              <button name='submit' class='btn btn-default'>Create Publisher</button>
              <button name='reset' class='btn btn-default'>Reset Publisher</button>
            </semantic-form>
          </semantic-form-autocomplete-input>
          
          
          <semantic-form-recover-notification></semantic-form-recover-notification>
         
          
          <semantic-form-errors></semantic-form-errors>
          <!-- save and reset button for form -->
          <button name="submit" class="btn btn-default">Save</button>
          <button name="reset" class="btn btn-default">Reset</button>
        </bs-panel>
      </semantic-form>

<br>
<div style="text-align:center; font-size:14px;">
    See some maps belows:

</div>