<h1> Points of Interest - Las Vegas (Nevada) </h1> 
  <div class="documentation__intro">
    <div class="documentation__intro__description">
        Here you can find Points of Interest in Las Vegas (Nevada)
    </div>
    <div class="documentation__intro__demo" >
      <semantic-map
        query='
SELECT ?Resource ?Label ?resource_type ?rating ?wkt ?color			
WHERE
{
  {
	SELECT ?Resource ?Label (IRI(<http://schema.org/LocalBusiness>) as ?resource_type) ?rating (?Coordinates as ?wkt) ("#2b9464" as ?color) 
    WHERE {
      ?Resource a  <http://schema.org/LocalBusiness> .
      ?Resource rdfs:label ?Label .
      ?Resource geo:asWKT ?Coordinates .
      ?Resource <http://purl.org/stuff/rev#rating> ?rating .
      FILTER(<bif:st_intersects> (?Coordinates, <bif:st_geomFromText>("POLYGON((-115.205009 36.197481, -115.090724 36.197481, -115.090724 36.143304, -115.205009 36.143304, -115.205009 36.197481))"))) .
    }
  }
  UNION
  { 
    SELECT ?Resource ?Label (group_concat(concat(?resource_type) ; separator = ", ") as ?resource_type) ("N/A" as ?rating) (?Coordinates as ?wkt) ("rgba(235,247,7,1)" as ?color) 
    WHERE {
      ?Resource a ?resource_type .
      ?Resource rdfs:label ?Label .
      ?Resource geo:asWKT ?Coordinates .
      FILTER(<bif:st_intersects> (?Coordinates, <bif:st_geomFromText>("POLYGON((-115.205009 36.197481, -115.090724 36.197481, -115.090724 36.143304, -115.205009 36.143304, -115.205009 36.197481))"))) .
      FILTER NOT EXISTS { ?Resource a <http://schema.org/LocalBusiness> }
    }
    GROUP BY ?Resource ?Label ?Coordinates
  }
}
        '
       fix-zoom-level=16
       tuple-template='<div><semantic-link uri="{{Resource.value}}">{{Label.value}}</semantic-link><br> Type: {{resource_type.value}} <br>Rating: {{rating.value}} </div>'
      ></semantic-map>
    </div>
  </div>
