<h1> Plots in Terras Gauda </h1> 
  <div class="documentation__intro">
    <div class="documentation__intro__description">
        Here you can find plots in Terras Gauda (Spain)
    </div>
    <div class="documentation__intro__demo" >
      <semantic-map
        query='
          SELECT ?Plot ?Label  ?holdingPlot ?crop (?Coordinates as ?wkt) ?hasGeometry
          FROM <http://w3id.org/foodie/core/es#>
          WHERE {
            ?Plot a <http://foodie-cloud.com/model/foodie#Plot> .
            ?Plot rdfs:label ?Label .
            ?Plot foodie:holdingPlot ?holdingPlot .
            ?Plot <http://foodie-cloud.com/model/foodie-es#crop> ?crop .
            ?Plot geo:hasGeometry ?hasGeometry .
          	?hasGeometry geo:asWKT ?Coordinates .
            }
        '
       tuple-template='<div><semantic-link uri="{{Plot.value}}">{{Label.value}}</semantic-link></div>'
      ></semantic-map>
    </div>
  </div> 